body {
    background-color: #232931;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.calculator {
    background-color: #EEEEEE;
    width: 370px;
    padding: 12px;
    margin: 70px auto;
    -webkit-box-shadow: 0px 2px 30px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 30px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 30px -3px rgba(0,0,0,0.75);
}

.smalldisplay {
    font-size: 15px;
    padding-top: 7px;
}

.result {
    text-align: right;
    font-size: 40px;
    padding: 17px;
    border: 1px solid grey;
    margin-bottom: 12px;
}

.btnswrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    margin-top: 20px;
}

.zero {
    grid-column: 1 / 4;
}

.equels {
    grid-column: 1 / 3;
}


.op {
    background-color: #393E46 !important;
}

.btn {
    font-size: 25px;
    color: white;
    background-color: #4ECCA3;
    border: none;
    padding: 10px 15px 10px 15px;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
}

footer {
    padding: 10px 0;
    margin-top: 25px;
    color: #EEEEEE;
}
